[{{ immich_s3_backup_aws_profile }}]
aws_access_key_id = {{ immich_s3_backup_aws_access_key_id }}
aws_secret_access_key = {{ immich_s3_backup_aws_secret_access_key }}
{% if immich_s3_backup_aws_session_token | length > 0 %}
aws_session_token = {{ immich_s3_backup_aws_session_token }}
{% endif %}
