# Managed by Ansible. Local changes will be replaced.
AWS_PROFILE={{ immich_s3_backup_aws_profile }}
AWS_REGION={{ immich_s3_backup_aws_region }}
S3_BUCKET={{ immich_s3_backup_s3_bucket }}
{% if immich_s3_backup_manage_aws_credentials %}
AWS_SHARED_CREDENTIALS_FILE={{ immich_s3_backup_credentials_file }}
{% endif %}

COMPOSE_DIR={{ immich_s3_backup_compose_dir }}
UPLOAD_LOCATION={{ immich_s3_backup_upload_location }}
POSTGRES_CONTAINER={{ immich_s3_backup_postgres_container }}
DB_DATABASE_NAME={{ immich_s3_backup_db_name }}
DB_USERNAME={{ immich_s3_backup_db_user }}

BACKUP_TIMEZONE={{ immich_s3_backup_timezone }}
STATE_DIR={{ immich_s3_backup_state_dir }}
APT_WAIT_TIMEOUT_SECONDS={{ immich_s3_backup_apt_wait_timeout_seconds }}
POSTGRES_WAIT_TIMEOUT_SECONDS={{ immich_s3_backup_postgres_wait_timeout_seconds }}
